* {
  box-sizing: border-box;
}
p {
  font-size: 1.8rem;
}
h5 {
  font-size: 2.4rem;
}
h4 {
  font-size: 3rem;
}
h3 {
  font-size: 4.8rem;
}
h2 {
  font-size: 6rem;
}
h1 {
  font-size: 7.2rem;
}
.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  
}

